<div id="SLOT">
	 <input type="hidden" id="SLOT" name="SLOT"/>


	 <select id="formatblock_rte1" onchange="rte.selectFont('SLOT', this.id);">
	<option value="">[Style]</option>
	<option value="p">Paragraph </option>
	<option value="h1">Heading 1 </option>
	<option value="h2">Heading 2 </option>
	<option value="h3">Heading 3 </option>
	<option value="h4">Heading 4 </option>
	<option value="h5">Heading 5 </option>
	<option value="h6">Heading 6 </option>
	<option value="address">Address </option>
	<option value="pre">Formatted</option>
	</select>
	
	 <a href="javascript:rte.formatWysiwygEditor('SLOT', 'italic');"><img src="RELATIVE_PATHrte/italics.gif" style="border: 1px solid #999;color:#333;"></img></a>
     <a href="javascript:rte.formatWysiwygEditor('SLOT', 'bold');"><img src="RELATIVE_PATHrte/bold.gif" style="border: 1px solid #999;color:#333;"></img></a>
     <a href="javascript:rte.formatWysiwygEditor('SLOT', 'underline');"><img src="RELATIVE_PATHrte/underline.gif" style="border: 1px solid #999;color:#333;"></img></a>


	 <a href="javascript:rte.formatWysiwygEditor('SLOT', 'justifycenter');"><img src="RELATIVE_PATHrte/justify_center.gif" style="border: 1px solid #999;color:#333;"></img></a>
	 <a href="javascript:rte.formatWysiwygEditor('SLOT', 'justifyleft');"><img src="RELATIVE_PATHrte/justify_left.gif" style="border: 1px solid #999;color:#333;"></img></a>
	 <a href="javascript:rte.formatWysiwygEditor('SLOT', 'justifyright');"><img src="RELATIVE_PATHrte/justify_right.gif" style="border: 1px solid #999;color:#333;"></img></a>


	 <a href="javascript:rte.insertHyperlink('SLOT');"><img src="RELATIVE_PATHrte/insert_hyperlink.gif" style="border: 1px solid #999;color:#333;"></img></a>
     <a href="javascript:rte.insertImage('SLOT');"><img src="RELATIVE_PATHrte/insert_picture.gif" style="border: 1px solid #999;color:#333;"></img></a>
	<iframe id="SLOT" name="SLOT" src="SLOT" width="800px" height="800px"></iframe>
</div>